* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    width: 100%;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    min-width: 420px;
}
a {
    color: #0366d6;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
}
ul{
    display: block;
    list-style-type: disc;
}
ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
h3, .center{
    text-align: center;
}
thead > tr > td {
    font-style: italic;
    font-weight: bold;
    font-size: 1.1em;
}
.container {
    height: 100%;
}
.content {
    min-height: 86%;
}
footer {
    margin-top: 20px;
    height: 60px;
    border-top: 1px solid #cacaca;
    padding-top: 20px;
    padding-right: 10px;
    text-align: center;
}

.elementFirst{
    margin-top: 70px;
}
.exceptions {
    margin-top: 100px;
    text-align: center;
}

/*Navbar*/
.navbar-inverse {
    background-color: #24292e;
    min-width: 420px;
}
.header-search {
    width: 300px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 13px;
    float: left;
}
.header-search-wrapper {
    display: table;
    max-width: 100%;
    height: 30px;
    padding: 0;
    font-weight: normal;
    vertical-align: middle;
    background-color: rgba(255,255,255,0.125);
    border: none;
}
.header-search-input {
    float: left;
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    background: none;
    box-shadow: none;
    border: none;
    color: #ffffff;
}
#search-input {
    width: 200px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
#lang-input {
    width: 100px;
    border-left: 2px solid #24292e;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.header-search-input:focus {
    box-shadow: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.14);
}
.dropdown-menu {
    background: rgb(0, 40, 80);
}
.dropdown-menu > li > a {
    color: white;
}

@media only screen and (min-width:769px) and (max-width:1000px) {
    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-header .collapse, .navbar-toggle {
        display: block !important;
    }
}
/*End navbar*/


/*Content*/

/*Result battle*/
.result {
    margin-right: 20px;
    padding-left: 8px;
    min-width: 350px;
    max-width: 500px;
    border-top: 1px solid #cacaca;
    text-align: center;
}
.user1, .user2 {
    padding: 16px;
}
.user-win {
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0 0 15px red;
    padding: 5px;
}
.avatar img{
    height: 180px;
    width: 180px;
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}
.vcard-names {
    margin: 0;
    padding-bottom: 10px;
}
.vcard-fullname {
    font-size: 26px;
    line-height: 30px;
}

.vcard-username {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #666;
}

.user-profile-bio {
    margin-bottom: 12px;
    overflow: hidden;
    font-size: 14px;
    color: #6a737d;
}
.vcard-details {
    list-style: none;
    padding-top: 10px;
    padding-right: 16px;
    border-color: rgb(234, 236, 239);
    border-top: 1px solid rgb(225, 228, 232);
}
.vcard-details li{
    padding: 3px;
}
.calculated {
    margin-top: 20px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #cacaca;
}
.win {
    color: red;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    text-shadow: #000000 1px 1px 0;
}
/*End result battle*/

/*Top repositories*/
.topRepo caption {
    color: #0366d6;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 1.3em;
}
.topRepo tbody {
    text-align: center;
}
.topRepo td {
    vertical-align: middle !important;
}
/*End top repositories*/

/*Search repositori*/
.count-search {
    margin-bottom: 15px;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
/*End search*/

/*Cabinet*/
.plan-panel {
    min-width: 283px;
    max-width: 400px
}
.change-card {
    margin-top: 20px;
}
#card {
    margin-top: 20px;
}
/*Buttons*/
.buttonDanger {
    display:inline-block;
    margin-top: 4px;
    padding:6px 15px 6px;
    font-size:13px;
    line-height:1.23em;
    font-weight:bold;
    color: #ffffff;
    background:url(../images/button-tail.gif) 0 0 repeat-x #fb4400;
    cursor:pointer;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    transition: .5s;
}
.buttonDanger:hover {
    background:#fb4400;
    color: #000cff;
    transition: .5s;
}
.help-block {
    color: red;
    font-weight: bold;
    text-shadow: #000000 0 1px 0;
}
.button28 {
    position: relative;
    display: inline-block;
    font-weight: 700;
    color: rgb(209,209,217);
    text-align:center;
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .1em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(158, 160, 169), rgb(81,81,86)) rgb(110,112,120);
    box-shadow:
            0 1px rgba(255,255,255,.2) inset,
            0 3px 5px rgba(0,1,6,.5),
            0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
}
.button28:hover:not(:active) {
    background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
.button28:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
            0 0 1px rgba(0,0,0,.5) inset,
            0 2px 3px rgba(0,0,0,.5) inset,
            0 1px 1px rgba(255,255,255,.1);
}



/* Flex for result battle*/
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
@media all and (max-width: 1200px) {
    .user1 {
        order: 0;
        margin-bottom: 10px;
    }
    .user2 {
        order: 1;
        margin-bottom: 10px;
    }
    .result {
        order: 2;
        margin: auto;
    }
}
@media all and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
        justify-content: center;
    }
    .result {
        order: -2;
        margin: auto;
    }
    .user-win {
        order: -1;
    }
    .user1, .user2 {
        margin: auto;
    }
}