* {
    box-sizing: border-box;
}
a {
    color: #0366d6;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
}
ul{
    display: block;
    list-style-type: disc;
}
ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
h3 {
    text-align: center;
}
.battle {
    margin-top: 20px;
}
.result {
    margin-right: 20px;
    padding-left: 8px;
    min-width: 350px;
    max-width: 550px;
    border-top: 1px solid #cacaca;
    text-align: center;
}
.user1, .user2 {
    max-width: 250px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.avatar {
    height: 200px;
    width: 200px;
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}
.vcard-names {
    margin: 0;
}
.vcard-fullname {
    font-size: 26px;
    line-height: 30px;
}

.vcard-username {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #666;
}

.user-profile-bio {
    margin-bottom: 12px;
    overflow: hidden;
    font-size: 14px;
    color: #6a737d;
}
.vcard-details {
    list-style: none;
    padding-top: 10px;
    padding-right: 16px;
    border-color: rgb(234, 236, 239);
    border-top: 1px solid rgb(225, 228, 232);
}
.vcard-details li{
    padding: 3px;
}
.calculated {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #cacaca;
}
.win {
    color: red;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    text-shadow: #000000 1px 1px 0;
}

.results caption {
    color: #0366d6;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 1.3em;
}
.results tbody {
    text-align: center;

}

.buttonDanger {
    display:inline-block;
    margin-top: 4px;
    padding:6px 15px 6px;
    font-size:13px;
    line-height:1.23em;
    font-weight:bold;
    color: #ffffff;
    background:url(../images/button-tail.gif) 0 0 repeat-x #fb4400;
    cursor:pointer;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    transition: .5s;
}
.buttonDanger:hover {
    background:#fb4400;
    color: #000cff;
    transition: .5s;
}
.help-block {
    color: red;
    font-weight: bold;
    text-shadow: #000000 0 1px 0;
}

/* Flex */
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
@media all and (max-width: 1200px) {
    .flex-container {
        justify-content: space-between;
    }
    .user1 {
        order: 0;
    }
    .user2 {
        order: 1;
    }
    .result {
        order: 2;
        margin: auto;
    }
}
@media all and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
        justify-content: center;
    }
    .result {
        order: 0;
        margin: auto;
    }
    .user1 {
        order: 1;
        margin: auto;
    }
    .user2 {
        order: 2;
        margin: auto;
    }
}
